html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(./bg-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: "Open sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

a, a:visited, a:active, a:focus {
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

span {
  font-size: 36px;
  display: block;
  margin-bottom: 10%;
  text-align: left;
}

span:last-child {
  margin-bottom: 0;
}

.text-box {
  background-color: white;
  padding-left: 40px;
  padding-bottom: 40px;
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-right: 40px;
}

@media (min-width: 768px) {
  .text-box {
    width: 50%;
    padding-right: 20px;
  }
}
